<header>
  <nav>
    <ul class="flex-container">
      <li class="flex-item">
        <img src="./../assets/logo.jpeg">
      </li>
      <li class="flex-item">
        <a id="home" routerLink="/home">About</a>
      </li>
      <li class="flex-item">
        <a id="blog" routerLink="/blog">Blog</a>
      </li>
      <li class="flex-item">
        <a id="cv" routerLink="/cv">CV</a>
      </li>
      <li class="flex-item">
        <a id="contact" routerLink="/cv">Contact</a>
      </li>
    </ul>
  </nav>
</header>
