nav {
  background-color: white;
  margin: auto;
  width: 50%;
}

.flex-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.2);
  justify-content: space-between;
  text-align: center;
}

img{
  width: 70px;
  height: 100%;
}



.flex-item a{
  margin-left: auto;
  text-decoration: none;
  color: #2c5d63;
}

a div{
  margin-top: 20px;
}

.flex-item:hover {
  border-bottom: 2px solid #2c5d63;
}

