<nav>
  <ul class="flex-container">
    <li>
      <img src="./../assets/logo.jpeg">
    </li>
    <li class="flex-item">
      <a id="home" routerLink="/home">
        <div>About</div>
      </a>
    </li>
    <li class="flex-item">
      <a id="blog" routerLink="/blog">
        <div>Blog</div>
      </a>
    </li>
    <li class="flex-item">
      <a id="cv" routerLink="/cv">
        <div>CV</div>
      </a>
    </li>
    <li class="flex-item">
      <a id="contact" routerLink="/contact">
        <div>Contact</div>
      </a>
    </li>
  </ul>
</nav>
