<nav>
  <ul class="flex-container">
    <li>
      <a id="home" routerLink="/home">
        <img src="./../assets/logo.png">
      </a>
    </li>
    <li class="flex-item-main">
      <a id="blog" routerLink="/blog">
        <div>Blog</div>
      </a>
    </li>
    <li class="flex-item">
      <a id="cv" routerLink="/cv">
        <div>CV</div>
      </a>
    </li>
    <li class="flex-item">
      <a id="contact" routerLink="/contact">
        <div>Contact</div>
      </a>
    </li>
  </ul>
</nav>
