<h2>Connect</h2>
<p>Please feel free to write me an email at
  <a href="sanskaar.thakur@gmail.com">sanskaar.thakur@gmail.com</a>
</p>
<p>
  Alternatively, I can also be reached at below social media handles:
</p>
<div>
  <a href="https://www.linkedin.com/in/sanskaarthakur/">
    <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG24.png" height="30px" width="30px">
  </a>
  <a href="https://github.com/sanskaar-thakur">
    <img src="./../../../../assets/GitHub-Mark-32px.png" height="30px" width="30px">
  </a>
  <a href="https://www.youtube.com/user/sanskaarthakur">
    <img src="https://www.logo.wine/a/logo/YouTube/YouTube-Icon-Full-Color-Logo.wine.svg" height="30px" width="30px">
  </a>
</div>
